@model temfullcn.Models.Trongtai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trongtai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueHuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueHuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNamKinhNghiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNamKinhNghiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrongTaiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
